.container {
  height: calc(100vh - 100px);
  /* background-color: #d1411e; */
  /* background-color: #f0e7cb; */
  background-color: rgba(185, 222, 254, 0.6);
  overflow: hidden;
}

.arrowContainer {
  position: absolute;
  width: 10%;
  height: 20%;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 1;
  cursor: pointer;
}

.wrapper {
  width: 300vw;
  height: 100%;
  display: flex;
  transition: all 1.5s ease-in-out;
}

.imgContainer {
  width: 100vw;
  height: 100%;
  position: relative;
}
.imgbg {
  color: white;
  border-radius: 100;
  width: 100%;
  z-index: 2;
}
